<div id="conteudo" class="row">
    <div class="col-sm-8">
        <h2>Nome do conteudo</h2>
        <div style="width: 120px; height:120px; background-color: black;"></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut numquam, commodi, nemo repellendus nesciunt praesentium aut, placeat nam molestiae debitis rerum enim. Ut veritatis explicabo minus facere quae tenetur cupiditate hic provident perferendis laboriosam natus consectetur debitis, animi laudantium excepturi accusamus eligendi ad incidunt facilis dicta? Autem temporibus quidem facere eligendi! Id, fugiat! Alias voluptates aperiam veniam doloribus. Doloribus atque velit accusantium, illo laudantium dolorem obcaecati quia alias debitis reiciendis! Distinctio repudiandae ipsa repellendus reprehenderit iure quisquam adipisci molestiae quo incidunt, sequi unde doloribus fuga cupiditate provident non ad architecto porro ut corporis velit quod cumque. Nesciunt nulla eum modi.</p>
    </div>
    <div class="col-sm-3" id="side">
        <h5>Data de estreia</h5>
        <h5>Idioma original</h5>
        <h5>Situação do filme</h5>
        <h6>Favoritar</h6>
        <h6>Nota</h6>
        <ul>
            <h5>Genero</h5>
            <li>genero 1</li>
            <li>genero 2</li>
            <li>genero 3</li>
        </ul>
        <ul>
            <h6>Onde assitir</h6>
            <li>streaming 1</li>
            <li>streaming 2</li>
        </ul>
    </div>
</div>