<div id="container">
    <h1 class="text-center my-2">Filmes</h1>
    <div *ngFor="let resultado of resultados">
        <div id="conteudo" class="d-flex border border-light rounded bg-light">
            <a>
                <img src="{{resultado.imagem}}" alt="{{resultado.nome}}" class="rounded-start">
            </a>
            <div class="d-flex flex-column ms-3 p-2">
                <a class="text-black text-decoration-none">
                    <h5>{{resultado.nome}}</h5>
                </a>
                <p>{{resultado.descricao}}</p>
            </div>
        </div>
    </div>

    <h1 class="text-center my-2">Jogos</h1>
    <div *ngFor="let resultado of resultados_jogo">
        <div id="conteudo" class="d-flex border border-light rounded bg-light">
            <a class="text-black text-decoration-none">
                <img src="{{resultado.imagem}}" alt="{{resultado.nome}}" class="rounded-start">
            </a>
            <div class="d-flex flex-column ms-3 p-2">
                <a>
                    <h5>{{resultado.nome}}</h5>
                </a>
                <p>{{resultado.descricao}}</p>
            </div>
        </div>
    </div>
</div>