/*ESTILO DO  NAVBAR*/
div#links{
    margin-left: auto;
    margin-right: 50px;
}
div#navbarNavDropdown a:hover{
    border-radius: 5px;
}
a{
    padding: 0px;
    cursor: pointer;
}
a > i{
    padding: 0px;
}
/*ESTILO DO SEARCH BAR*/
div#search{
    margin: auto;
    margin-top: 18px;
    width: 80%;
    z-index: 2;
}

input{
    background-color: rgba(0, 0, 0, 0.274);
    border: none;
    color: white;
}

::placeholder{
    color: white;
}

input:focus{
    background-color: rgba(0, 0, 0, 0.247);
    box-shadow: none;
    color: white;
}

/*ESTILO DO FOOTER*/
div#container{
    width: 100%;
    margin-top: 90px;
}

ul.footer{
    padding: 0;
    list-style-type: none;
}

a.footer{
    font-size: 1.05rem;
    text-decoration: none;
    color: rgb(92, 92, 92);
}

a.footer:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #0d6efd;
}