div#search{
    position: absolute;
    top: 70px;
    width: 75vw;
    left: 50%;
    transform: translate(-50%);
    z-index: 5;
}

input{
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
}

::placeholder{
    color: white;
}

input:focus{
    background-color: rgba(0, 0, 0, 0.247);
    box-shadow: none;
    color: white;
}