<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/" (click)="home()">Site</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <div class="navbar-nav" id="links">
            <a class="nav-link fw-semibold" role="button" data-bs-toggle="dropdown">Favoritos</a>     
        </div>
        <a class="nav-link px-4 fw-semibold"><i class="bi bi-person-circle fs-3 text-light"></i></a>
      </div>
    </div>
</nav>
