<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Site</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav" id="links">
          <li class="nav-item dropdown px-4" href="#">
            <a href="" class="nav-link fw-semibold" role="button" data-bs-toggle="dropdown">Filmes</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Ação</a></li>
              <li><a class="dropdown-item" href="#">Aventura</a></li>
              <li><a class="dropdown-item" href="#">Comédia</a></li>
              <li><a class="dropdown-item" href="#">Crime</a></li>
              <li><a class="dropdown-item" href="#">Drama</a></li>
              <li><a class="dropdown-item" href="#">Documentário</a></li>
              <li><a class="dropdown-item" href="#">Família</a></li>
              <li><a class="dropdown-item" href="#">Fantasia</a></li>
              <li><a class="dropdown-item" href="#">História</a></li>
              <li><a class="dropdown-item" href="#">Horror</a></li>
              <li><a class="dropdown-item" href="#">Musical</a></li>
              <li><a class="dropdown-item" href="#">Mistério</a></li>
              <li><a class="dropdown-item" href="#">Romance</a></li>
              <li><a class="dropdown-item" href="#">Ficção Científica</a></li>
              <li><a class="dropdown-item" href="#">Suspense</a></li>
              <li><a class="dropdown-item" href="#">Guerra</a></li>
              <li><a class="dropdown-item" href="#">Velho Oeste</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown px-4" href="#">
            <a href="" class="nav-link fw-semibold" role="button" data-bs-toggle="dropdown">Séries</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Ação e Aventura</a></li>
              <li><a class="dropdown-item" href="#">Comédia</a></li>
              <li><a class="dropdown-item" href="#">Drama</a></li>
              <li><a class="dropdown-item" href="#">Documentário</a></li>
              <li><a class="dropdown-item" href="#">Família</a></li>
              <li><a class="dropdown-item" href="#">Infantil</a></li>
              <li><a class="dropdown-item" href="#">Suspense</a></li>
              <li><a class="dropdown-item" href="#">Ficção Científica</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown px-4" href="#">
            <a href="" class="nav-link fw-semibold" role="button" data-bs-toggle="dropdown">Animação</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Ação e Aventura</a></li>
              <li><a class="dropdown-item" href="#">Comédia</a></li>
              <li><a class="dropdown-item" href="#">Drama</a></li>
              <li><a class="dropdown-item" href="#">Infantil</a></li>
              <li><a class="dropdown-item" href="#">Ficção Científica</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown px-4" href="#">
            <a href="" class="nav-link fw-semibold" role="button" data-bs-toggle="dropdown">Jogos</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Luta</a></li>
              <li><a class="dropdown-item" href="#">Tiro</a></li>
              <li><a class="dropdown-item" href="#">Plataforma</a></li>
              <li><a class="dropdown-item" href="#">Puzzle</a></li>
              <li><a class="dropdown-item" href="#">Estratégia</a></li>
              <li><a class="dropdown-item" href="#">RPG</a></li>
              <li><a class="dropdown-item" href="#">Simulação</a></li>
              <li><a class="dropdown-item" href="#">Esportes</a></li>
              <li><a class="dropdown-item" href="#">Ação</a></li>
              <li><a class="dropdown-item" href="#">Aventura</a></li>
              <li><a class="dropdown-item" href="#">Arcade</a></li>
              <li><a class="dropdown-item" href="#">Visual Novel</a></li>
              <li><a class="dropdown-item" href="#">Indie</a></li>
              <li><a class="dropdown-item" href="#">MOBA</a></li>
            </ul>
          </li>
        </ul>
        <a class="nav-link px-4 fw-semibold" href="#"><i class="bi bi-person-circle fs-3"></i></a>
      </div>
    </div>
</nav>
