div#carouselExampleInterval{
    width: 100%;
    margin-top: -72px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.carousel-item{
    object-fit: cover;
    height: 555px;
    width: 100%;
}