div#search{
    position: absolute;
    top: 70px;
    width: 75vw;
    left: 50%;
    transform: translate(-50%);
    z-index: 5;
}

input{
    background-color: rgba(0, 0, 0, 0.363);
    border: none;
    color: white;
}
input:focus{
    background-color: rgba(0, 0, 0, 0.247);
    box-shadow: none;
    color: white;
}

button{
    color: white;
    background-color: rgb(99, 25, 139);
}
button:hover{
    color: white;
    background-color: rgb(94, 25, 131);
}