<div id="container">
    <h1 class="text-center"><a class="text-decoration-none text-black">Filmes Populares</a></h1>
    <div id="filmes" class="p-2 bg-light">
        <div *ngFor="let filme of filmes" class="movie mx-2 ">
            <div class="moldura">
                <img src="{{filme.imagem}}" alt="{{filme.nome}}" class="poster rounded">
            </div>
            <a class="fw-bold text-decoration-none rounded-bottom" (click)="abrirFilme(filme.id)" routerLink="/filme/{{filme.id}}">{{filme.nome}}</a>
        </div>
    </div>
</div>
