#conteudo{
    margin: auto;
    margin-top: 20px;
    width: 100%;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#poster>img{
    max-width: 300px;
    max-height: 450px;
    border-radius: 15px;
}

ul{
    list-style: none;
    padding-left: 0;
}

button{
    background-color: transparent;
    border: 0;
}