<div class="row p-4 bg-light" id="conteudo">
    <div class="col-sm-4" id="poster">
        <img src="{{filme.poster}}" alt="">
    </div>
    <div class="col">
        <h2>{{filme.nome}}</h2>
        <h6>Data de lançamento: {{filme.data_lancamento}}</h6>
        <h6>Idioma original: {{filme.idioma}}</h6>
        <h6>Genêros</h6>
        <ul>   
            <li *ngFor="let genero of filme.generos"><small class="fw-bold">{{genero}}</small></li>
        </ul>
        <p>{{filme.descricao}}</p>
        <div class="mb-2">  
            <span>{{filme.nota}} <i class="bi bi-star-fill text-warning"></i></span>
            <span *ngIf="favorito;else clique">
                Favoritar <i class="text-danger bi bi-heart-fill" (click)="favoritar(filme.id)"></i>
            </span>
            <ng-template #clique>
                <button type="button">Favoritar <i class="text-danger bi bi-heart" (click)="favoritar(filme.id)"></i></button>
            </ng-template>
        </div> 
        <h6>Produtoras</h6>
        <ul>
            <li *ngFor="let produtora of filme.produtoras">{{produtora}}</li>
        </ul>
    </div>
</div>