<div class="container">
    background imagem
    <div>
        imagem
    </div>
    <div>
        <h2>Titulo do resultado</h2>
        <h6>data</h6>
        <h6>idioma</h6>
        <ul>
            <h6>genero</h6>
            <li>genero 1</li>
            <li>genero 2</li>
            <li>genero 3</li>
        </ul>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, aspernatur! Deleniti quibusdam quod laudantium ullam consectetur repellendus error voluptatibus eveniet officiis distinctio nihil, amet repellat hic vitae doloremque alias quia voluptate illo ratione ex id. Sequi mollitia excepturi minus consequatur voluptatum? A, ad. Reprehenderit fugiat itaque quae eos repellat explicabo?</p>
        <h6>streamings</h6>
        <ul>
            <h6>elenco</h6>
            <li>artista 1</li>
            <li>artista 2</li>
            <li>artista 3</li>
        </ul>

    </div>
</div>